* {
    margin: 0;
    padding: 0;;
}

#boton-nombres{
    margin: 20px;
    padding: 25px;
}


h1,h2,h3 {
    text-align: center;
}

label {
    text-align: center;
}


.datos-jugadores {
    text-align: center;
}

.contenderor-de-todo {
    position: relative;
    top: 20px;
}

.oculto {
    display: none;
}

#boton-rehacer {
    margin-top: 15px;
}

.resaltar-azul {
    background-color: cadetblue;
    transition: 100ms;
}

.resaltar-rojo {
    background-color: crimson;
    transition: 100ms;
}