* {
    margin: 0;
    padding: 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.resaltar-azul {
    background-color: cadetblue !important;
    transition: 300ms;
    
}

.navegacion {
    background-color: #687980;
    font-size: 1.6rem;
    
    
}
a {
    text-decoration: none;
}

a:visited {
    color: cornsilk;
}
.link-nav {
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: cornsilk;;
    background-color: #02475e;
}

.transparente {
    background-color: transparent;
    transition: 400ms;
    
}
.resaltar-rojo {
    background-color: crimson !important;
    transition: 400ms;
    
    
}

#boton-nombres{
    margin: 20px;
    padding: 25px;
}

.svg {
    height: 30px;
    padding-right: 20px;
    padding-bottom: 2px;
}

h1,h2,h3 {
    text-align: center;
}

label {
    text-align: center;
}


.datos-jugadores {
    text-align: center;
}

.contenderor-de-todo {
    position: relative;
    top: 20px;
}

.oculto {
    display: none;
}

#boton-deshacer {
    margin-top: 15px;
}

/* #resultado-dados {
    background-color: crimson;
} */

